.container {
    width: 100%;
    height: 100%;
    max-width: 726px;
    min-width: 320px;
    margin: 0 auto;
}

.img-container {
    border: 1px solid #ccc;
    width: 100%;
    max-width:640px;
    margin: 0 auto;
    padding:0;
    cursor: ew-resize;
}
.fake-loader {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
.img360 {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

#preload-imgs {
    display:none;
}