@import url(https://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended+Bold);
*{
  margin:0;
  user-select: none;
}
body{
  overflow-x: hidden;
}
.spacer{
  width:100vw;
  height:100vh;
  background-color:black;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  text-transform: uppercase;
  text-align:center;
}

.spacer > h1{
position:absolute;
color:transparent;
width:500vw;
font-size:5em;
font-weight:900;
font-family: "Monument Extended Bold";
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
}
.spacer > h2{
position:absolute;

background: #d9b5b5; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #d9b5b5, #4a3f50); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d9b5b5, #4a3f50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-background-clip: text;
background-clip: text;
color: transparent;

width:100vh;
font-size:30px;
font-weight:900;
font-family: "Monument Extended Bold";
/* -webkit-text-stroke-width: 1px; */
/* -webkit-text-stroke-color: white; */
padding-top: 15%;

}
.imageWrapper{
  position:absolute;
  width:250px;
  height:350px;
  background-color:transparent;
  overflow:hidden;
  left:5%;
  margin-top:0%; 
}
.imageWrapper2{
  position:absolute;
  width:250px;
  height:350px;
  background-color:transparent;
  overflow:hidden;
  right:5%;
  margin-top:0%; 
}
.xyz{
width:100%;
height:100%;
object-fit:cover
}

.spacer:nth-child(even){
background-color:#121212

}